.content {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
}

.map {
    grid-column: 1;
}

.tableOfContents {
    grid-column: 1;
}

.book {
    grid-column: 2 / 5;
}

.annotations {
    grid-column: 4;
}
