.book {
    /* max-height offset was determined manually. Not so thrilled about that. Need to figure out a better way. */
    max-height: calc(100vh - 207px);
    overflow-y: scroll;
    padding: 0 0.5rem;
}
